@tailwind base;
@tailwind components;
@tailwind utilities;
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #00152912;
}
body {
  .frame-layout {
    min-height: 100vh;
  }
}
.container {
  margin: auto;
}
